::ng-deep .mat-dialog-container {
  color: #FFF;
  background-color: rgb(60, 65, 103);
  text-align: center;
}

::ng-deep .mat-tab-label{
  color:#FFF;
  text-transform: uppercase;
}

::ng-deep .mat-tab-list {
  display: flex;
  justify-content: center;
}

::ng-deep .mat-tab-body-content {
  overflow: hidden !important;
}

::ng-deep .mat-form-field {
  width: 100%;
  display: contents !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  color: #FFF;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color:#FFF;
}

::ng-deep .mat-button {
  width: 100%;
  background-color: rgb(250, 218, 0);
  border-color: rgb(250, 218, 0);
  border-radius: 1rem;
  font-weight: 500;
  font-size: larger;
  color: #000;
  height: 4rem;
  margin: 1.5rem 0 !important;
}

button:focus {
  outline: none !important;
}

h1 {
  text-align: center;
  font-size: 28px;
}



