@import '~bootstrap/dist/css/bootstrap.min.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap');

  body, html {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 14px;
    color: #FFF;
    background-image: linear-gradient(to right, rgb(26, 43, 62), rgb(20, 30, 48));
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    &:hover {
      color: #FFF;
      text-decoration: none;
    }
  }

@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.25rem;
  }
}
