<app-header></app-header>
<video autoplay loop [muted]="'muted'" >
  <source src="../assets/dota2.mp4" type="video/mp4" />
</video>
<div class="headline">
  <div class="contents">
    <h1>
      <p><span>Acompanhe todos os resultados</span></p><p><span>do seu time e jogadores</span></p>
    </h1>
    <a (click)="openDialog()" class="btn">
      Inicie agora
    </a>
  </div>
</div>
<div id="Container" class="Container">
    <div class="Inner">
        <h1>O jogo mais jogado no Steam.</h1>
        <p>Agora você pode acompanhar os resultados em tempo real. Quem está no topo do ranking?</p>
        <h2>"Este jogo é extraordinário."</h2>
    </div>
</div>
<div id="Container_02" class="Container">
    <div class="Inner_02">
        <h1>Todos os destaques</h1>
        <p>O Dota é um jogo que se tornou uma referência no mundo dos games. A cada partida você pode acompanhar as pontuações de cada jogador e seu time!</p>
    </div>
</div>
<app-footer></app-footer>
